.modal {
    position: fixed; /* reste en place */
    z-index: 3; /* au dessus du reste */
    width: 800px; /* largeur */
    height: 800px; /* hauteur */
    overflow: auto; /* barre de scroll si besoin */
    background-color: rgba(255, 255, 255, 0.96); /* opaque */
    border: solid;
    top:10%; /* a 10% du haut */
    left:20%; /* a 20% de la gauche */
}
.modal .title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.infosinvestors{
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.button-reset{
    display: block;
    margin: auto;
    text-align: center;
    line-height: 50px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ff8400;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.button-reset:hover {
    background-color: #29378d;
}