.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    font-size: 3rem;
    margin: 2rem 0;
    color: #222;
}

.money-container {
    display: flex;
    align-items: center;
}

.money-label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
}

.money-value {
    font-size: 1.5rem;
    font-weight: 600;
    color: #007bff;
}

.logoW {
    width: 150px;
    height: auto;
    margin-top: 2rem;
}

.multi {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff8400;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.multi:hover {
    background-color: #ff9e40;
}